/*******Подключение разных модулей************************************************************************************************************************/
@import "_null";
@import "_mixin";
/*******</Подключение разных модулей>************************************************************************************************************************/
/****Подключение шрифтов***************************************************************************************************************************/
@font-face {
	font-family: "Gilroy";
	src: url("/fonts/Gilroy-Bold.woff2") format("woff2"), url("Gilroy-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("/fonts/Gilroy-Medium.woff2") format("woff2"), url("Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("/fonts/Gilroy-Regular.woff2") format("woff2"), url("Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("/fonts/Gilroy-Semibold.woff2") format("woff2"), url("Gilroy-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/*****</Подключение шрифтов>**************************************************************************************************************************/
//
//
//
/**************************************Переменные****************************************/
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$mWidth1Desktop: calc($maxWidthContainer + 12);
$mWidth2Tablet: 991.98px;
$mWidth3Tablet: 767.98px;
$mWidth4Mobile: 479.98px;

$backgroundColor: #fcf8f3;
$colorPrimary: #e89f71;
$backupColor: #000;
$darkGrey: #616161;
/***************************************************************************************************/
//
//
//
/*<BODY>******************************************************************************************************************************************************************/
@import "_body";
/*</BODY>*************************************************************************************************************************************************/
/*<HEADER>********************************************************************************************************************************************************************************/
@import "_header";
/*</HEADER>*****************************************************************************************************************************************************************************************/
//
//
//
/*<WRAPPER>********************************************************************************************************************************************/
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}
/*</WRAPPER>********************************************************************************************************************************************/
//
//
//
/*<ОСНОВНАЯ ОБЁРТКА>*************************************************************************************************************************************/
//тех. классы
._container {
	max-width: calc($maxWidthContainer) + px;
	margin: 0 auto;

	padding: 0px 15px;
	box-sizing: content-box;
	// @media (max-width: 1365.98px) {
	// 	max-width: 900px;
	// }
	// @media (max-width: 1023.98px) {
	// 	max-width: 700px;
	// }
	// @media (max-width: 767.98px) {
	// 	max-width: 600px;
	// }
	// @media (max-width: 359.98px) {
	// 	max-width: 300px;
	// }
}
._ibg {
	position: relative;
	img,
	iframe,
	video {
		position: absolute;
		// width: 100%;
		// height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
._title {
	@include fontz(1.8rem, 700, #000, 120%, 0.2px);
	margin: 0px 40px 0px 0px;
	position: relative;
	z-index: 15;
	@media (max-width: $mWidth4Mobile) {
		margin: 0px 0px 0px 0px;
	}
	@media (max-width: 321.98px) {
		&.header-title {
			display: none;
		}
	}
}
._title-footer {
	@include fontz(1.4rem, 700, #000, 120%, 0.2px);
	margin: 0px 0px 0px 0px;
}
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px 15px;
	transition: all 0.3s ease 0s;
	min-height: 48px;
}
/*</ОСНОВНАЯ ОБЁРТКА>*************************************************************************************************************************************/
//
//
//
/******<ScrollBar>****************************************************************************************************************/
@import "_scrollbar";
/******</ScrollBar>******************************************************************************************************************/
/*<PAGE>*************************************************************************************************************************************/
.page {
	flex: 1 1 auto;
}
/*</PAGE>*************************************************************************************************************************************/
/*<Основной контент>*************************************************************************************************************************************/
@import "_content";
/*</Основной контент>*************************************************************************************************************************************/
/*<form>**************************************************************************************************************************************************/
@import "_forms";
/*</form>**************************************************************************************************************************************************/
/***<modal>**************************************************************************************************************************************************/
@import "_popups";
/***</modal>**************************************************************************************************************************************************/
/**<FOOTER>********************************************************************************************************************************************/
@import "_footer";
/**</FOOTER>********************************************************************************************************************************************/
